*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

.dark-mode {
    --bg-color: rgb(53, 53, 53);
}

header {
    background-color: rgb(206, 206, 206);
    color: white;
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

header button {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 18px;
    font-size: xx-large;
    font-weight: bold;
}

.header-plus {
    font-size: 50px;
    font-weight: bolder;
    padding: 8px 24px 8px 24px;
}

#holder {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#left-holder{
    display: flex;
    justify-content: center;
}

.order-button{
    width: 30px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 18px;
}

#right-holder {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-top: 15vh;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 90%;
    margin-left: 30px;
}

.todo {
    border: 3px solid;
    border-radius: 15px;
    width: 60%;
    height: 11vh;
    display: flex;
    cursor: default;
}

.todo:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-container {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

.date {
    flex-grow: 1;
    text-align: center;
    font-size: 49px;
    margin: auto;
    min-width: 125px;
    max-width: 125px;
}

.title {
    flex-grow: 1;
    padding-left: 2vh;
}

.desc {
    flex-grow: 2;
    padding-left: 2vh;
}


.urgent {
    background-color: lightcoral;
    border-color: red;
}

.urgent > .left-container {
    border-right: 3px solid red;
}

.urgent > .left-container > .title {
    border-bottom: 3px solid red;
}

.moderate {
    background-color: lightyellow;
    border-color: rgb(226, 202, 65);
}

.moderate > .left-container {
    border-right: 3px solid rgb(226, 202, 65);
}

.moderate > .left-container > .title {
    border-bottom: 3px solid rgb(226, 202, 65);
}


.unrushed {
    background-color: lightgreen;
    border-color: green;
}

.unrushed > .left-container {
    border-right: 3px solid green;
}

.unrushed > .left-container > .title {
    border-bottom: 3px solid green;
}